*{
    box-sizing: border-box; 
  }
.contenedor {
    width: 600px; 
    border: 1px solid black;
    text-align: center; 
    background-color: steelblue;    
    margin:auto;
}
.cuadro{
    margin: 5px;
    width: 90%;
    padding: 10px;
    display: inline-block;
    border-radius: 2px; 
}
.botones{
    margin-bottom: 10px;
}